# JWT secret
JWT_SECRET=your_jwt_secret_here

# Node environment
NODE_ENV=production

# Email settings
EMAIL_USER=your_email@gmail.com
EMAIL_PASS="your_email_app_password"

# Database connection (Aiven MySQL)
DB_HOST=your-aiven-host.aivencloud.com
DB_PORT=10969
DB_USER=avnadmin
DB_PASSWORD=YOUR_AIVEN_PASSWORD_HERE
DB_NAME=defaultdb

# Prisma / Sequelize style URL
DATABASE_URL="mysql://avnadmin:YOUR_AIVEN_PASSWORD_HERE@your-aiven-host.aivencloud.com:10969/defaultdb?sslmode=REQUIRED"

# to run the seed
# node scripts/verifyTreks.js
# node scripts/seedTreks.js

# run this first to create the schema in the db (when running first time)
# npx prisma migrate dev --name init

# need to generate (run when changing the schema)
# npx prisma generate
# npx prisma migrate dev --name init
