# to run the seed
# node scripts/verifyTreks.js
# node scripts/seedTreks.js

# run this first to create the schema in the db (when running first time)
# npx prisma migrate dev --name init

# need to generate (run when changing the schema)
# npx prisma generate
# npx prisma migrate dev --name init